<section class="content-header">
  <h1> Reporters</h1>
  <ol class="breadcrumb">
    <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home </a>
    </li>
    <li class="active">Reporters</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="box-body pull-right">
      <button type="button" class="btn btn-primary" (click)="navigate('reporters/new')">Add New</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Reporter Master View</h3>
        </div>
        <div class="box-body">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border table-hover">
            <thead>
            <tr style="background-color: #e0dcdc">
              <th>S.No</th>
              <th>Rep. ID</th>
              <th>Channel Name</th>
              <th>Emp. ID</th>
              <th>Full Name</th>
              <th>Designation</th>
              <th>District</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rm of reportersMaster; index as i">
              <td>{{i+1}}</td>
              <td>{{rm.id}}</td>
              <td [title]="rm.channelName" class="text-capitalize">{{rm.channelName}}</td>
              <td [title]="rm.empID" class="text-uppercase">{{rm.empID}}</td>
              <td [title]="rm.fullName" class="text-capitalize">{{rm.fullName}}</td>
              <td [title]="rm.designationName" class="text-capitalize">{{rm.designationName}}</td>
              <td [title]="rm.cityDesc" class="text-capitalize">{{rm.cityDesc}}</td>
              <td [title]="rm.statusDesc" class="text-capitalize">{{rm.statusDesc}}</td>
              <td>
                <button type="button" data-toggle="modal" data-target="#modal-default" class="btn btn-success btn-xs"
                        (click)="view(rm)"> <i class="fa fa-eye"></i>
                </button> &nbsp; &nbsp;
                <button class="btn btn-dropbox btn-xs" (click)="navigate('reporters/update/' + rm.id)"> <i class="fa fa-edit"></i>
                </button> &nbsp; &nbsp;
                <button type="button" (click)="delete(rm)" class="btn btn-google btn-xs"> <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="modal-default" style="display: none;">
  <div class="modal-dialog modal-lg" *ngIf="currentReporter">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">
          <span style="font-weight: 700; text-transform: capitalize;">
            {{currentReporter.fullName}}
          </span> Details
<!--        <span style="font-weight: 600; text-transform: uppercase;"> ( {{currentReporter.statusDesc}} ) </span>-->
        </h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-hover">
          <tbody>
          <tr>
            <th>Channel Name </th>
            <td>: {{currentReporter.channelName}} </td>
            <th> Employee ID</th>
            <td>: {{currentReporter.empID}} </td>
          </tr>
          <tr>
            <th>Full Name </th>
            <td>: {{currentReporter.fullName}} </td>
            <th>Designation </th>
            <td>: {{currentReporter.designationName}} </td>
          </tr>
          <tr>
            <th> Status </th>
            <td>: {{currentReporter.statusDesc}} </td>
            <th> State Level </th>
            <td>: {{currentReporter.stateLevel === 'Y' ? 'Yes' : 'No' }} </td>
          </tr>
          <tr>
            <th> Date of Birth </th>
            <td>: {{currentReporter.dob}} </td>
            <th> Mobile </th>
            <td>: {{currentReporter.mobile}} </td>
          </tr>
          <tr>
            <th> Email </th>
            <td>: {{currentReporter.email}} </td>
            <th> Blood Group </th>
            <td>: {{currentReporter.bloodGroup}} </td>
          </tr>
          <tr>
            <th> Vehicle No </th>
            <td>: {{currentReporter.vehicleNo}} </td>
            <th> Aadhaar No </th>
            <td>: {{currentReporter.aadhaarNo}} </td>
          </tr>
          <tr>
            <th> Driving No </th>
            <td>: {{currentReporter.drivingNo}} </td>
            <th> Street Address 1 </th>
            <td>: {{currentReporter.street1}} </td>
          </tr>
          <tr>
            <th> Street Address 2 </th>
            <td>: {{currentReporter.street2}} </td>
            <th> State </th>
            <td>: {{currentReporter.stateDesc}} </td>
          </tr>
          <tr>
            <th> District </th>
            <td>: {{currentReporter.cityDesc}} </td>
            <th> Taluk </th>
            <td>: {{currentReporter.talukDesc}} </td>
          </tr>
          <tr>
            <th> Pincode </th>
            <td>: {{currentReporter.pincode}} </td>
            <th> Joining Date </th>
            <td>: {{currentReporter.joinDate}} </td>
          </tr>
          <tr>
            <th> Expire Date </th>
            <td>: {{currentReporter.expireDate}} </td>
            <th> Next Renewal Date </th>
            <td>: {{currentReporter.renewalDate}} </td>
          </tr>
          <tr>
            <th> Nominee Name </th>
            <td>: {{currentReporter.nomineeName}} </td>
            <th> Nominee Relationship </th>
            <td>: {{currentReporter.relationDesc}} </td>
          </tr>
          <tr>
            <th> Nominee Date of Birth </th>
            <td>: {{currentReporter.nomineeDob}} </td>
            <th> Nominee Address </th>
            <td style="max-width: 150px;">: {{currentReporter.nomineeAddress}} </td>
<!--            <th> Status </th>-->
<!--            <td>: {{currentReporter.statusDesc}} </td>-->
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
