<header class="main-header">
  <a routerLink="/" class="logo"> <span class="logo-mini"><b>RU</b></span> <span class="logo-lg"><b>Reporters</b>UNION</span> </a>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"> <span class="sr-only">Toggle navigation</span> </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu"> </li>
        <li (click)="logout()" title="Logout"> <a href="javascript:"><i class="fa fa-power-off"></i></a> </li>
      </ul>
    </div>
  </nav>
</header>
