<div class="login-box">
  <div class="login-logo"> <b>Reporters</b>UNION </div>
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit(loginForm.value)">
      <div class="form-group has-feedback">
        <input type="text" formControlName="userName" class="form-control" placeholder="Username">
        <i class="fa fa-user-secret form-control-feedback"></i>
      </div>
      <div class="form-group has-feedback">
        <input formControlName="passWord" type="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
<!--        <div class="col-xs-2">-->
<!--          <div class="checkbox icheck" style="margin-left: 20px"> <label> <input type="checkbox"> Remember Me </label> </div>-->
<!--        </div>-->
        <div class="col-xs-12">
          <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-block btn-flat">
            Sign In <i class="fa fa-sign-in"></i>
          </button>
<!--          <button type="reset" class="btn btn-danger btn-block btn-flat">-->
<!--            Reset <i class="fa fa-sign-in"></i>-->
<!--          </button>-->
        </div>
      </div>
    </form>
  </div>
</div>
