<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.1.01
  </div>
  Copyright &copy; 2020 - {{currentYear}} <strong> ReportersUnion.</strong> All rights reserved.
</footer>
