<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
<!--    <div class="user-panel">-->
<!--      <div class="pull-left image">-->
<!--        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
<!--      </div>-->
<!--      <div class="pull-left info">-->
<!--        <p>Alexander Pierce</p>-->
<!--        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
<!--      </div>-->
<!--    </div>-->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li routerLinkActive="active">
        <a routerLink="dashboard"> <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="reporters"> <i class="fa fa-user"></i>
          <span>Reporters Members</span>
        </a>
      </li>
      <li class="treeview">
        <a href="javascript:">
          <i class="fa fa-list-alt"></i>
          <span>LOV Masters</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active">
            <a routerLink="lov-master/states"> <i class="fa fa-plus-circle"></i>
              <span>State Master</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="lov-master/districts"> <i class="fa fa-plus-circle"></i>
              <span>District Master</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="lov-master/taluk"> <i class="fa fa-plus-circle"></i>
              <span>Taluk Master</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="lov-master/status"> <i class="fa fa-plus-circle"></i>
              <span>Status Master</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="lov-master/designation"> <i class="fa fa-plus-circle"></i>
              <span>Designation Master</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="lov-master/relationship"> <i class="fa fa-plus-circle"></i>
              <span>Relationship Master</span>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </section>
</aside>
