<section class="content-header">
  <h1> Status Master </h1>
  <ol class="breadcrumb">
    <li><a routerLink="dashboard"><i class="fa fa-dashboard"></i> Home </a></li>
    <li class="active"> Status Master </li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="box-body pull-right">
      <button type="button" (click)="onAdd()" class="btn btn-success" data-toggle="modal" data-target="#modal-default">
        <i class="fa fa-plus fa-3" aria-hidden="true"></i>&nbsp; ADD NEW
      </button>
    </div>
    <div class="modal fade" id="modal-default" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">{{header}}</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" [formGroup]="statusForm" >
              <div class="form-group">
                <label  class="col-sm-3 control-label">Status Name</label>
                <div class="col-sm-9">
                  <input type="text" style="text-transform: capitalize" class="form-control" placeholder="Status Name" formControlName="statusName">
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="button" [disabled]="statusForm.invalid" class="btn btn-primary pull-right" data-dismiss="modal"
                        (click)="submit(statusForm.value)"> {{sbutton}} </button>
              </div>
              <!-- /.box-footer -->
            </form>

          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Status Master</h3>
        </div>
        <div class="box-body">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border table-hover">
            <thead>
            <tr style="background-color: #e0dcdc">
              <th>S.No</th>
              <th>Status Name</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sl of statusList; index as i">
              <td>{{i+1}}</td>
              <td>{{sl.text}}</td>
              <td style="width: 150px">
                <button type="button" data-toggle="modal" data-target="#modal-default" class="btn btn-dropbox btn-xs" (click)="onUpdate(sl)">
                  <i class="fa fa-edit"></i>
                </button> &nbsp; &nbsp;
                <button class="btn btn-google btn-xs" type="button" (click)="remove(sl)"> <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
