@import url('http://wtfforms.com/wtf-forms.css');

input {
  text-transform: capitalize !important;
}
textarea {
  text-transform: capitalize !important;
  resize: vertical;
}



*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem 1.5rem;
  font: 1rem/1.5 "PT Sans", Arial, sans-serif;
  color: #5a5a5a;
}
