<section class="content-header">
  <h1> Reporters </h1>
  <ol class="breadcrumb">
    <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home </a></li>
    <li><a routerLink="/reporters"><i class="fa fa-user"></i> Reporters </a></li>
    <li class="active">New</li>
  </ol>
</section>
<section class="content">
  <form [formGroup]="reportersForm" autocomplete="off" (ngSubmit)="reportSave(reportersForm.value)">
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group" [ngClass]="{'has-error' : f.channelName.touched && f.channelName.invalid }">
          <input type="text" formControlName="channelName" class="form-control" placeholder="Press/Channel Name*">
            <div *ngIf="f.channelName.touched && f.channelName.invalid" class="help-block">
              <span *ngIf="f.channelName.errors.required">Channel Name is required.</span>
            </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group" [ngClass]="{'has-error' : f.empId.touched && f.empId.invalid }">
          <input type="text" formControlName="empId" class="form-control" placeholder="Employee ID*" required>
            <div *ngIf="f.empId.touched && f.empId.invalid" class="help-block">
              <span *ngIf="f.empId.errors.required">Employee ID is required.</span>
            </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group" [ngClass]="{'has-error' : f.fullName.touched && f.fullName.invalid }">
          <input type="text" formControlName="fullName" class="form-control" placeholder="Full Name*" required>
          <div *ngIf="f.fullName.touched && f.fullName.invalid" class="help-block">
            <span *ngIf="f.fullName.errors.required">Full Name is required.</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <div class="form-group">
            <ng-select2 class="text-capitalize" formControlName="designation" [data]="designationList"
                        [placeholder]="'Select Designation'" [allowClear]="true" [width]="'100%'"></ng-select2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <input type="text" formControlName="dateOfBirth" id="dateOfBirth" class="form-control"
                 placeholder="Date of Birth">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <input type="tel" formControlName="mobile"  id="mobile" class="form-control" placeholder="Mobile No">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <input type="email" formControlName="emailId" class="form-control" placeholder="Email ID" maxlength="150">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <input type="text" formControlName="bloodGroup" class="form-control" placeholder="Blood Group">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <input type="text" formControlName="vehicleNo" class="form-control" placeholder="Vehicle No.">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <input type="text" id="aadhaarNo" formControlName="aadhaarNo" class="form-control" placeholder="Aadhaar No.">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <input type="text" formControlName="drivingLicence" class="form-control" placeholder="Driving Licence">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <input type="text" formControlName="streetAddress1" class="form-control" placeholder="Street Address 1">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <input type="text" formControlName="streetAddress2" class="form-control" placeholder="Street Address 2">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group"> <ng-select2 class="text-capitalize" formControlName="state" [data]="stateLists" (valueChanged)="loadCities($event)" [placeholder]="'Select State'" [allowClear]="true" [width]="'100%'"></ng-select2> </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group"> <ng-select2 class="text-capitalize" formControlName="city" [data]="citiesList" (valueChanged)="loadTaluks($event)" [placeholder]="'Select City'" [allowClear]="true" [width]="'100%'"></ng-select2> </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group"> <ng-select2 class="text-capitalize" formControlName="taluk" [data]="talukLists" [placeholder]="'Select Taluk'" [allowClear]="true" [width]="'100%'"></ng-select2> </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <input type="tel" id="pinCode" formControlName="pinCode" class="form-control" placeholder="Pincode">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <input type="text" id="joiningDate" formControlName="joiningDate" class="form-control" placeholder="Joining Date">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <input type="text" id="expireDate" formControlName="expireDate" class="form-control" placeholder="Expire Date">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <input type="text" id="nextRenewalDate" formControlName="nextRenewalDate" class="form-control" placeholder="Next Renewal Date">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <input type="text" formControlName="nomineeName" class="form-control" placeholder="Nominee Name">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <ng-select2 formControlName="nomineeRelationship" class="text-capitalize" [data]="relationShip" [placeholder]="'Select Relation'"
                      [allowClear]="true" [width]="'100%'"></ng-select2>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <input type="text" id="nomineeDob" formControlName="nomineeDob" class="form-control" placeholder="Nominee DOB">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
                    <textarea style="min-height: 35px; height: 32px" formControlName="nomineeAddress" class="form-control"
                              placeholder="Nominee Address (150 Characters)" maxlength="150"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <ng-select2 class="text-capitalize" formControlName="status" [data]="statusList" [placeholder]="'Select Status'"
                      [allowClear]="true" [width]="'100%'"></ng-select2>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group" [ngClass]="{'has-error' : f.stateLevel.touched && f.stateLevel.invalid }">
          <ng-select2 [ngClass]="{'has-error' : f.stateLevel.touched && f.stateLevel.invalid }"
                      class="text-capitalize" formControlName="stateLevel" [data]="stateLevel" [placeholder]="'State Level *'"
                      [allowClear]="true" [width]="'100%'"></ng-select2>
<!--          <select class="form-control text-capitalize" formControlName="stateLevel">-->
<!--            <option value="" selected disabled> State Level* </option>-->
<!--            <option *ngFor="let ss of stateLevel" [value]="ss.id"> {{ss.text}} </option>-->
<!--          </select>-->
          <div *ngIf="f.stateLevel.touched && f.stateLevel.invalid" class="help-block">
            <span *ngIf="f.stateLevel.errors.required">State Level is required.</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="file" formControlName="avatar" class="dropify" data-max-file-size="2M"
                     [attr.data-allowed-file-extensions]="['png', 'jpg', 'jpeg', 'gif','bmp']" (change)="onFileSelect($event)"
                     [attr.data-default-file]="profilePicture">
            </div>
            <div class="text-right">
              <button type="submit" [disabled]="profileForm.controls.avatar.value === ''" class="btn btn-success"> Upload </button>
            </div>
          </form>
        </div>
      <div class="col-lg-3 text-center">
        <img *ngIf="profilePicture !== ''" [src]="profilePicture" class="img-fit" height="200px" width="150px" alt="profile image">
        <br />
<!--        <div class="">-->
<!--        <a href="javascript:" (click)="uploadProfile = !uploadProfile"> Upload Picture </a> </div>-->
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-flat" [disabled]="reportersForm.invalid"> {{fbutton}} </button>
    </div>
  </form>
</section>
